*{margin:0;padding:0;box-sizing:border-box;font-family:Arial,Helvetica,sans-serif}
html{scroll-padding-top:70px;scroll-behavior:smooth}
#container{max-width:1200px;margin:auto}
#header{background:grey;height:70px;position:fixed;top:0;width:79%;z-index:9}

.menu{list-style:none;float:right;padding:0 20px}
.menu li{display:inline-block;line-height:70px}
.menu a{display:block;padding:0 20px;color:#fff;text-decoration:none;font-size:20px;text-transform:uppercase;transition:.4s}
.menu a:hover{background:#fff;color:#000}

.show-btn,.hide-btn,#chk{display:none;font-size:30px;line-height:70px;color:#fff;float:right;padding-right:20px}

#banner{margin:90px 0 15px;height:680px;display:flex;font-size:40px;color:#fff;background:url(./background.webp) center/cover}
#banner h2{margin:20px}

.clear::after{content:"";display:block;clear:both}

.circle img{width:250px;height:250px;border-radius:50%;float:left;margin:20px 0 20px 40px}

#left-side{width:50%;height:550px;background:gray;color:#fff;float:left}
#right-side{width:48%;height:550px;float:right}

#left-p h2{margin:10px 5px}
#left-p p{padding:10px;font-size:20px;line-height:28px;text-align:justify}

.artical{height:31%;margin-bottom:20px;display:flex;justify-content:center;font-size:20px;overflow:hidden;background:chocolate}

#p1,#p2,#p3{background-size:cover;background-repeat:no-repeat}
#p1{background-image:url(./p1.jpg)}
#p2{background-image:url(./p2.jpg)}
#p3{background-image:url(./p3.jpg)}

.grid{width:20%;float:left;margin:15px 0 20px 50px;background:#d3d3d3;border-radius:8px;box-shadow:0 5px 5px rgba(0,0,0,.15)}
.grid img{width:100%}
.grid h4{text-align:center}
.grid p{margin:10px;color:#fff;line-height:25px}
.grid a{display:block;margin:10px auto;padding:10px;background:red;color:#fff;text-align:center;border-radius:8px;text-decoration:none}
.grid a:hover{background:blue}

h1{text-align:center;padding:25px 0}

#footer{background:plum;height:100px}
#footer p{text-align:center;padding:20px}

@media(max-width:1199px){
.grid{width:40%}
.circle img{margin-left:15%}
}

@media(max-width:800px){
.show-btn{display:block}
.menu{position:fixed;top:0;right:-100%;width:100%;background:#333;text-align:center;padding:80px 0;transition:.7s}
.menu li{display:block}
#chk:checked~.menu{right:0}
.hide-btn{display:block;position:absolute;top:10px;right:20px}

#banner{height:350px;font-size:30px}
#left-side,#right-side{width:100%}
.grid{margin-left:50px}
}

@media(max-width:625px){
#container{min-width:320px}
#banner{height:250px;font-size:20px}
.circle img{width:70%;height:70%}
.grid{width:90%;margin-left:20px}
h1{font-size:20px}
}
